<div class="card">
  <div class="container">
    <div class="registro">
      <h2>{{ registro.registroNumber }}</h2>
    </div>

    <div class="card-header">
      <h3>{{ registro.clients?.name }}</h3>
      <h3>{{ registro.clients?.phone }}</h3>
    </div>

    <div class="card-body">
      @if (imageUrl!) {
        <div class="panel_imagen">
          <img class="imagen" [src]="imageUrl" />
        </div>
      }

      <div class="muestras">
        <div class="date">
          <strong>
            {{ registro.createdAt | date: "EEEE, d MMMM yyyy" }}
          </strong>
        </div>

        <section class="status">
          <strong>Estado:</strong> {{ registro.statusRegister }}
        </section>
        <div class="title_description">
          <strong>Descripción:</strong>
        </div>

        <section [class]="imageUrl ? 'description' : 'solo_texto'">
          <div [innerHTML]="descripcion" class="description-text"></div>
        </section>
      </div>
    </div>

    <div class="card-footer">
      <button class="btn btn-download" (click)="imprimirDocumento()" title="download">
        <mat-icon class="icon">download</mat-icon>
      </button>
      <div class="options">
        <button class="btn btn-secondary" (click)="verDetalle(registro.id)">
          Ver detalles
        </button>
        <button class="btn btn-primary" (click)="crearObservacion()">
          Nueva observación
        </button>
      </div>
    </div>
  </div>
</div>
