.padre {
  width: 100%;
  min-height: 100dvh;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: #888 #eee;
  box-sizing: border-box;
  background-color: var(--color-bg);

  .nav_header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 2.5rem;
    gap: 10px;
    // background-color: blue;
    background-color: var(--color-nav);
    display: flex;
    justify-content: start;
    align-items: center;

    // boton para cerrar la ventana
    .back-button {
      background-color: var(--color-bg-btn);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: var(--color-text-btn);
      font-weight: 600;
      margin-left: 20px;
      padding: 0.2rem 1rem;

      &:hover {
        background-color: var(--color-bg-hover-btn);
        color: var(--color-text-hover-btn);
      }
    }
  }

  .see-observation-container {
    margin: auto;
    width: 100%;
    min-height: 95dvh;
    box-sizing: border-box;
    background-color: var(--color-bg);

    .container {
      width: 70%;
      margin: 0 auto 1rem auto;
      background-color: var(--color-panel);

      .name_company {
        position: sticky;
        top: 0%;
        z-index: 4;
        color: var(--color-text);
        background-color: var(--color-panel);
        font-weight: 800;
        height: 40px;
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
      }

      .header {
        width: 100%;
        text-align: start;
        box-sizing: border-box;
        padding: 10px 0;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        color: var(--color-text);
        background-color: var(--color-resalto);

        h2 {
          margin: 3%;
        }

        p {
          display: flex;
          gap: 10px;
        }

        .state {
          font-weight: 700;
          color: var(--color-alert) !important;
        }

        .value {
          text-decoration: underline;
        }

        .icono {
          width: 25px;
          height: 25px;
          margin-left: 10px;
          font-size: 1.2rem;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px;
          box-sizing: border-box;
          color: var(--color-icons);
          cursor: pointer;

          &:hover {
            background-color: var(--color-bg-btn);
            border-radius: 5px;
            border: 1px solid var(--color-br-btn);
          }
        }

        .item {
          width: auto;
          height: 20px;
          text-align: center;
          font-size: 14px;
          box-sizing: border-box;
          margin: 0 5px;
          background-color: var(--color-panel);
          color: var(--color-text);
          border-radius: 7px;
          border: 1px solid var(--color-border);
          outline: none;

          &:focus {
            border: 2px solid var(--color-selected);
          }
        }

        .btn {
          min-width: 1px !important;
          min-height: 1px !important;
          border: transparent;
          margin: 0 2px;
          background-color: rgba(0, 0, 255, 0.334);
        }

        .ok {
          font-weight: 700 !important;
          &:hover {
            background-color: var(--color-bg-hover-btn);
            color: var(--color-text-hover-btn);
          }
        }

        .not {
          font-weight: 700 !important;
          border-color: red !important;

          &:hover {
            background-color: var(--color-alert) !important;
            color: var(--color-text-hover-btn);
          }
        }
      }

      .observations-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        color: var(--color-text);

        h2 {
          width: 95%;
          margin: 10px auto;
        }
        .header_observations {
          margin: 4px 0 0 0;
          z-index: 4;
          top: 4%;
          position: sticky;
          color: var(--color-text);
          background: var(--color-panel);

          .search-box {
            width: 95%;
            margin: auto;

            .input_search {
              width: 100%;
              position: relative;

              .close-icon {
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translateY(-50%);
                color: var(--color-text);
                background-color: var(--color-modal);
                padding: 2px;
                box-sizing: border-box;
                border: 1px solid var(--color-br-btn);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              input {
                width: 100%;
                border-radius: 50px;
                text-align: center;
                padding: 5px 0;
                box-sizing: border-box;
              }

              .search-icon {
                position: absolute;
                right: 2px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                color: var(--color-blanco);
                transition: color 0.2s ease;
                margin: 1px;
                background-color: var(--color-modal);
                border-radius: 15px;
                justify-items: center;
                text-align: center;

                &:hover {
                  transition: ease 0.2s all;
                  width: 40px;
                  background-color: var(--color-dif-azul);
                  color: var(--color-blanco);
                }
              }
            }
          }

          .panel-opciones {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;

            .modos {
              .btn {
                margin: 3px;
                background-color: var(--color-bg-btn);
                border: 1px solid var(--color-br-btn);
                color: var(--color-text);
                padding: 0 10px;
                height: 35px;
                font-weight: 600;
                font-size: 12px;
                border-radius: 6px;
                cursor: pointer;
                transition: all 0.2s ease;

                &:hover {
                  background-color: var(--color-bg-hover-btn);
                  color: var(--color-text-hover-btn);
                  border-color: var(--color-br-hover-btn);
                }
              }
            }

            .options {
              display: flex;
              gap: 2px;

              .btn {
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 10px;
                cursor: pointer;
                border-radius: 10px;
                background-color: var(--color-bg-btn);
                border: 2px solid var(--color-br-btn);
                color: var(--color-text-btn);
                transition: all 0.3s ease;
                position: relative;
                transition: ease-in 45ms;

                &:hover {
                  color: var(--color-text-hover-btn);
                  border-radius: 50%;
                  background-color: var(--color-bg-hover-btn);
                }

                .icon {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  font-weight: 800;
                }
              }
            }
          }
        }

        .observations {
          width: 95%;
          min-height: 50vh;
          margin: 10px auto;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .no_data {
            height: 150px;
            text-align: center;
            padding-top: 20px;
            font-size: 18px;
          }

          .loader {
            width: 10%;
            height: 10%;
            margin: auto;
          }
        }
      }

      .warning {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        background: var(--color-resalto);

        h3 {
          color: var(--color-alert);
        }

        .lista {
          padding: 0 2rem;
          box-sizing: border-box;

          .warn {
            color: var(--color-text);
          }
        }
      }

      .footer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid var(--color-nav);
        padding-top: 12px;
        box-sizing: border-box;
        padding: 10px 30px;
        color: var(--color-text);

        .image-logo {
          width: 120px;
          height: 120px;
        }
        .right {
          padding: 5px;
          position: relative;
          border: 2px solid var(--color-text);
          border-radius: 15px;
          width: 150px;
          height: 150px;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;

          .qr-code {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.activo {
  background-color: var(--color-bg-hover-btn) !important;
  color: var(--color-text-hover-btn) !important;
  border-color: var(--color-br-hover-btn) !important;
}

@media (400px <= width <= 1300px) {
  .padre {
    .see-observation-container {
      .container {
        .name_company {
          font-size: 9px !important;
          font-weight: 500 !important;
        }

        .header {
          line-height: 1.2;
          font-size: 13px !important;
        }

        .observations-section {
          h2 {
            font-size: 1.1rem !important;
          }

          .header_observations {
            top: 6% !important;

            .search-box {
              margin: auto;
            }
          }

          .panel-opciones {
            height: 20px !important;
            .modos {
              button {
                height: 20px !important;
                padding: 0 6px !important;
                font-size: 10px !important;
              }
            }

            .options {
              .btn {
                width: 20px !important;
                height: 20px !important;

                .icon {
                  width: 15px !important;
                  height: 15px !important;
                  font-weight: 700;
                  font-size: 15px;
                }
              }
            }
          }
        }

        .footer {
          padding: 5px 20px 20px 20px !important;

          .center {
            font-size: 0.7rem;
          }

          .image-logo {
            width: 80px !important;
            height: 80px !important;
          }

          .right {
            padding: 3px;
            width: 100px !important;
            height: 100px !important;
          }
        }
      }
    }
  }
}

@media (40px <= width <= 500px) {
  .padre {
    .see-observation-container {
      padding: 0;
      .container {
        width: 98%;
        .name_company {
          font-size: 7px !important;
          font-weight: 500 !important;
        }

        .header {
          line-height: 1.2;
          font-size: 9px !important;
        }

        .observations-section {
          h2 {
            font-size: 1rem !important;
            margin: 1px auto;
          }
          .header_observations {
            top: 4% !important;

            .search-box {
              width: 99%;
              margin: auto;
            }
          }

          .panel-opciones {
            height: 20px !important;
            .modos {
              button {
                height: 20px !important;
                padding: 0 6px !important;
                font-size: 10px !important;
              }
            }

            .options {
              .btn {
                width: 20px !important;
                height: 20px !important;

                .icon {
                  width: 15px !important;
                  height: 15px !important;
                  font-weight: 700;
                  font-size: 15px;
                }
              }
            }
          }
        }

        .observations {
          min-height: 250px;
        }

        .footer {
          padding: 5px 20px 20px 20px !important;

          .center {
            font-size: 0.5rem;
          }

          .image-logo {
            width: 60px !important;
            height: 60px !important;
          }

          .right {
            padding: 3px;
            width: 80px !important;
            height: 80px !important;
          }
        }
      }
    }
  }
}
