<div class="padre">
  <div class="see-observation-container">
    <button (click)="goBack()" class="back-button">
      Volver
    </button>
    <div class="title">
      <h1>Nombre de empresa</h1>
    </div>
    <div class="header">

      <div class="header-left">

        <h3>Fecha entrada: {{ register?.createdAt }}</h3>
        <h3>Estado: {{ register?.statusRegister }}</h3>
        <h3>Tecnico: {{ usuario?.name }}</h3>
        <h3>servicio: Mantenimiento</h3>
      </div>

      <div class="header-right">
        <h2>Detalles del cliente</h2>
        <div class="client-details">
          <p><strong>Nombre:</strong> {{ client?.name }}</p>
          <p><strong>Teléfono:</strong> {{ client?.phone }}</p>
          <p><strong>Email:</strong> {{ client?.email }}</p>
        </div>
      </div>
    </div>
    <div class="observations-section">
      <h2>Detalles del registro</h2>
      <div class="header">
        <div class="search-box">
          <input type="text" [(ngModel)]="busqueda" [placeholder]="
            filterActual === 'todo' ? 'Buscar en todo' :
            filterActual === 'Ultimos' ? 'Buscar en los últimos':
            'Buscar en los primeros'
          " (keyup.enter)="onBuscar()" />
          <mat-icon class="search-icon" (click)="onBuscar()">search</mat-icon>
          <div class="modos">

            <button [class.active]="filterActual === 'todo'" (click)="onVerTodos()">
              Todo
            </button>

            <button [class.active]="filterActual === 'Ultimos'" (click)="onVerUltimos()">
              Ultimos
            </button>

            <button [class.active]="filterActual === 'Primeros'" (click)="onVerPrimeros()">
              Primeros
            </button>

          </div>
        </div>
      </div>
      @for (observacion of observationsList; track observacion?.id) {
      <app-card-observation [Observation]="observacion"></app-card-observation>
      }
    </div>
    <div class="footer">
      <div class="left">
        <img class="image-logo" src="/logoEjemplo.webp" alt="">
      </div>
      <div class="center">
        <h3>Nit: 1234567890</h3>
        <h3>Dirección: Calle Falsa 123 - Ciudad Ejemplo</h3>
        <h3>Teléfono: +57 300 1234567 </h3>
        <h3>Email: correo@correo.com </h3>
      </div>
      <div class="right">
        @if (register?.urlQr) {
        <img class="qr-code" [src]="register?.urlQr" alt="QR Code" />
        }@else {
        <p>No hay QR disponible</p>
        }

      </div>
    </div>
  </div>
</div>