<div class="card-container">
  <div class="card">
    <div class="card-header">
      <div class="user-avatar">
        {{ user()?.name?.charAt(0)?.toUpperCase() }}
      </div>
      <div class="card-title-section">
        <h3 class="card-title">{{ user()?.name?.toUpperCase() }}</h3>
        <span class="card-rol" [class]="'rol-' + user()?.rol?.toLowerCase()">{{
          user()?.rol
        }}</span>
      </div>
    </div>

    <div class="card-content">
      <div class="info-item">
        <span class="label">Email:</span>
        <span class="value">{{ user()?.email }}</span>
      </div>
    </div>

    <div class="card-actions">
      <button type="button" class="btn btn-edit" title="Editar usuario">
        <span>✎</span> Editar
      </button>
      <button
        type="button"
        (click)="modalDelete()"
        class="btn btn-delete"
        title="Eliminar usuario"
      >
        <span>🗑</span> Eliminar
      </button>
    </div>
  </div>
</div>

@if (Delete()) {
  <app-confirm-alert-component
    [pregunta]="
      `¿Seguro quiere borrar el usuario de <strong> ${user()?.name} </strong>  ?`"
    (respuesta)="respuesta($event)"
  />
}
