<!-- session de usuario  -->
<app-session-component />
@if (loader()) {
  <app-loader-session-component />
} @else {
  <!-- componentes de dashboard -->
  <div class="container">
    @if (onDelete()) {
      <div class="panel_delete">
        <div class="delete_title">
          <h2>Eliminar registros</h2>
        </div>

        <div class="cantidad">
          <strong> Cantidad: {{ listDelete().length }} </strong>
        </div>

        <div class="options_delete">
          <button class="btn" (click)="OnDelete()">Cancelar</button>
          <button class="btn" (click)="onBorrar()">Eliminar</button>
        </div>
      </div>
    } @else {
      <div class="container-fluid">
        <div class="nav">
          <div class="options">
            <button class="btn" (click)="OnDelete()" [disabled]="isBlocked()">
              <mat-icon class="icons">delete</mat-icon>
            </button>

            <button class="btn">
              <mat-icon class="icons" (click)="openNewRegister()"
                >add_to_queue</mat-icon
              >
            </button>
          </div>

          <div class="card-search">
            <div class="search-box">
              @if (onSearch()) {
                <div class="icono limpiar">
                  <mat-icon class="clean" (click)="desactivarFiltro()"
                    >close</mat-icon
                  >
                </div>
              }
              <form [formGroup]="search">
                <!-- [(ngModel)]="busqueda" -->
                <input
                  type="text"
                  formControlName="filtro"
                  [placeholder]="
                    filterType() === 'todo'
                      ? 'Buscar en todo'
                      : filterType() === 'En progreso'
                        ? 'Buscar en progreso'
                        : filterType() === 'Completado'
                          ? 'Buscar en alertas'
                          : filterType() === 'cancelado'
                            ? 'Buscar por código o registro'
                            : 'Buscar por cliente'
                  "
                  (keyup.enter)="onBuscar()"
                />
                <div class="icono buscar">
                  <mat-icon class="search" (click)="onBuscar()"
                    >search</mat-icon
                  >
                </div>
              </form>
            </div>
          </div>

          <button class="btn" (click)="onLogout()">
            <mat-icon class="icons">exit_to_app</mat-icon>
          </button>
        </div>
      </div>
    }
    <!-- mapeo de registros -->
    <div class="content" (scroll)="onScroll($event)">
      @if (loadeRegister()) {
        <div class="floads">
          <app-loader-component class="loader" />
        </div>
      }
      <div class="registers">
        @for (registro of filteredObservations(); track registro.id) {
          <app-card-component
            [registro]="registro"
            [delete]="onDelete()"
            (select)="DeleteRegisters($event)"
            (verDetalleEvent)="verDetalle($event)"
          />
        } @empty {
          @if (!loadeRegister()) {
            <div class="notFound">
              <span>
                No hay registros en <strong>{{ filterType() }}</strong>
              </span>
            </div>
          }
        }
      </div>
    </div>

    <footer class="dashboard-footer">
      <!-- usuario logeado -->

      <div class="footer">
        <div class="footer-left" [class.activa]="settings()">
          <mat-icon class="user-icon">account_circle</mat-icon>
          <div class="user-info" (click)="onSettings()">
            <span class="user-name">{{ usuario()?.name }}</span>
            <span class="user-role"> {{ usuario()?.rol }} </span>
          </div>
        </div>

        <div class="footer-center">
          <span class="system-name">
            <strong> {{ company()?.name }}</strong>
          </span>
        </div>

        <div class="footer-right">
          <!-- filtros del buscador -->
          <div class="filters">
            <div class="modos">
              <button
                [class.active]="filterType() === 'todo'"
                (click)="setFilter('todo')"
              >
                Todo
              </button>

              <button
                [class.active]="filterType() === 'En progreso'"
                (click)="setFilter('En progreso')"
              >
                En Progreso
              </button>

              <button
                [class.active]="filterType() === 'Pendiente'"
                (click)="setFilter('Pendiente')"
              >
                Pendiente
              </button>

              <button
                [class.active]="filterType() === 'Completado'"
                (click)="setFilter('Completado')"
              >
                Completado
              </button>

              <button
                [class.active]="filterType() === 'Entregado'"
                (click)="setFilter('Entregado')"
              >
                Entregado
              </button>

              <button
                [class.active]="filterType() === 'cancelado'"
                (click)="setFilter('cancelado')"
              >
                Cancelado
              </button>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
}

@if (newRegister) {
  <app-new-register-component (Close)="onCloseNewRegister()" />
}

@if (settings()) {
  <app-settings-component
    [company]="usuario()?.idCompany"
    [role]="usuario()?.rol"
    [id]="idUser()"
    (Closed)="onSettings()"
  />
}

@if (onModal()) {
  <app-confirm-alert-component
    (respuesta)="respuestaModal($event)"
    [pregunta]="`¿ Seguro quiere eliminar ${listDelete().length} registros ?`"
  />
}

@if (eliminando()) {
  <app-cargando-accion-component [mensaje]="`Eliminando registros`" />
}
