//  stilos fondo
// $fondo_primario: rgb(230, 220, 220);
$modal: rgba(6, 10, 42, 0.919);
$fload: rgba(0, 0, 0, 0.835);
$forms: rgba(9, 9, 9, 0.538);

// primarios
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$green: rgb(22, 167, 22);
$verde: rgba(22, 167, 22, 0.8);
$escarlata: rgb(255, 0, 0);

// difuminados
$blanco_dif: rgba(255, 255, 255, 0.518);
$negro_dif: rgba(0, 0, 0, 0.892);
$azul_dif: rgba(32, 32, 201, 0.547);
$rojo_dif: rgba(255, 0, 0, 0.422);

// colores de botones
$azul: rgb(0, 102, 255);
$rojo: rgb(191, 95, 95);
$negro: rgb(0, 0, 0);
$blanco: rgb(255, 255, 255);

$red_dark: rgba(139, 0, 0, 0.797);
$blue_dark: rgba(0, 0, 139, 0.702);

// colores dashboard
$dashboard_bg: rgb(241, 227, 162);

// colores de las cards
$card_bg: rgba(174, 176, 190, 0.394);
$card_border: #e5e7eb;
$photos_fond: rgba(159, 84, 188, 0.271);

$btn_action: rgba(47, 47, 132, 0.437);

$themes: (
  light: (
    //  fondos
    bg: #d2dee1,
    // bg: rgba($color: $negro, $alpha: 0.13),
    nav: rgb(3, 38, 49),
    panel: $white,
    bg-delete: rgb(153, 96, 96),
    modal: $modal,
    panel-interno: rgba(
        $color: $azul,
        $alpha: 0.3,
      ),
    panel-content: $card_bg,
    resalto: rgba(198, 202, 210, 0.518),
    panel-warning: $rojo_dif,

    panel-modal: rgba(0, 0, 0, 0.89),
    // bordes
    border: rgb(70, 20, 188),
    border-hover: rgba(7, 10, 78, 0.959),
    // iconoes
    icons: $azul,
    icons-nav: $white,
    alert: $rojo,

    // buttons
    bg-btn: rgb(211, 211, 218),
    br-btn: $azul,
    bg-hover-btn: rgb(65, 65, 114),
    br-hover-btn: $azul,
    text-btn: rgba(2, 2, 2, 0.901),
    text-btn-hover: $white,
    selected: rgb(28, 54, 72),
    // texto
    text-error: #ff6b6b,
    text-primary: $black,
    text-secondary: $white,
    text-tertiary: $azul,
    text-succes: #1dc051,

    //colores dashboard
    aquac: #6681ef61,
    primaro: #1976d2,
    segundo: #f3e8e8,
    tercero: rgb(255, 255, 255),
    cuarto: rgb(0, 0, 0),
    quinto: #f44336,

    // difuminados
    dif-uno: rgba(255, 255, 255, 0.518),
    dif-dos: rgba(0, 0, 0, 0.89),
    dif-tres: rgba(109, 109, 185, 0.547),
    dif-cuatro: rgba(255, 0, 0, 0.422),
  ),
  dark: (
    //  fondos
    bg: #121212,
    panel: #212022,
    nav: #231c26,
    modal: #182433,
    panel-interno: $btn_action,
    panel-content: #57556145,
    resalto: #37363a,

    panel-modal: rgba(25, 18, 18, 0.828),
    // bordes
    border: rgb(143, 121, 194),
    border-hover: rgba(93, 122, 157, 0.703),
    // iconoes
    icons: #9f76d2,
    icons-nav: $white,
    alert: #cf6679,

    // buttons
    bg-btn: rgba(69, 80, 107, 0.567),
    br-btn: $azul,
    bg-hover-btn: rgba(255, 255, 255, 0.2),
    br-hover-btn: rgba(255, 255, 255, 0.995),
    text-btn: $white,
    text-btn-hover: $white,
    selected: rgba(27, 60, 83, 0.843),
    // texto
    text-error: $escarlata,
    text-primary: $white,
    text-secondary: $white,
    text-tertiary: $azul,

    //colores dashboard
    aquac: #6681ef61,
    primaro: #1976d2,
    segundo: #f3e8e8,
    tercero: rgb(255, 255, 255),
    cuarto: rgb(0, 0, 0),
    quinto: #f44336,

    // difuminados
    dif-uno: rgba(255, 255, 255, 0.518),
    dif-dos: rgba(0, 0, 0, 0.892),
    dif-tres: rgba(161, 161, 207, 0.547),
    dif-cuatro: rgba(255, 0, 0, 0.422),
  ),

  blue_theme: (
    //  fondos
    bg: #121212,
    panel: #292830,
    nav: #121b32,
    modal: #182433,
    panel-interno: $btn_action,
    panel-content: #57556145,
    resalto: #37363a,

    panel-modal: rgba(25, 18, 18, 0.828),
    // bordes
    border: rgb(143, 121, 194),
    border-hover: rgba(93, 122, 157, 0.703),
    // iconoes
    icons: #9f76d2,
    icons-nav: $white,
    alert: #cf6679,

    // buttons
    bg-btn: rgba(69, 80, 107, 0.567),
    br-btn: $azul,
    bg-hover-btn: rgba(255, 255, 255, 0.2),
    br-hover-btn: rgba(255, 255, 255, 0.2),
    text-btn: $white,
    text-btn-hover: $white,
    selected: rgba(27, 60, 83, 0.843),
    // texto
    text-error: $escarlata,
    text-primary: rgba(231, 223, 232, 0.995),
    text-secondary: $white,
    text-tertiary: rgb(196, 194, 210),
    //colores dashboard
    aquac: #6681ef61,
    primaro: #1976d2,
    segundo: #f3e8e8,
    tercero: rgb(255, 255, 255),
    cuarto: rgb(0, 0, 0),
    quinto: #f44336,

    // difuminados
    dif-uno: rgba(255, 255, 255, 0.518),
    dif-dos: rgba(0, 0, 0, 0.892),
    dif-tres: rgba(161, 161, 207, 0.547),
    dif-cuatro: rgba(255, 0, 0, 0.422),
  ),

  neon: (
    bg: #f3eeee,
    nav: #9d8046,
    panel: #d1c6d1,
    bg-delete: rgb(153, 96, 96),
    modal: #cbbbbb,
    panel-interno: rgb(147, 147, 207),
    panel-content: $card_bg,
    resalto: rgba(182, 192, 211, 0.518),
    panel-warning: $rojo_dif,

    panel-modal: rgba(0, 0, 0, 0.89),
    // bordes
    border: rgb(70, 20, 188),
    border-hover: rgba(7, 10, 78, 0.959),
    // iconoes
    icons: $azul,
    icons-nav: #732424,
    alert: $rojo,

    // buttons
    bg-btn: rgb(211, 211, 218),
    br-btn: $azul,
    bg-hover-btn: rgba(137, 137, 148, 0.398),
    br-hover-btn: $azul,
    text-btn: rgba(2, 2, 2, 0.901),
    text-btn-hover: $white,
    selected: rgb(28, 54, 72),
    // texto
    text-error: #ff6b6b,
    text-primary: $negro,
    text-secondary: $negro,
    text-tertiary: $azul,
    text-succes: #10b981,

    //colores dashboard
    aquac: #030c3283,
    primaro: #1976d2,
    segundo: #732424,
    tercero: rgb(255, 255, 255),
    cuarto: rgb(0, 0, 0),
    quinto: #f44336,

    // difuminados
    dif-uno: rgba(255, 255, 255, 0.518),
    dif-dos: rgba(0, 0, 0, 0.89),
    dif-tres: rgba(109, 109, 185, 0.547),
    dif-cuatro: rgba(255, 0, 0, 0.422),
  ),
);
