
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);

    .container-fluid {
        width: 10%;
        height: 10%;

        .loader {
            color: var(--color-icons);
        }
    }
}