.session-item {
  margin: 1px;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border-radius: 10px;

  &:hover {
    background-color: var(--color-resalto);
    .content_data {
      .item {
        .inactive {
          color: var(--color--text-alert);
        }
      }
    }
  }

  .content_data {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .active {
        color: var(--color-primary);
        font-weight: 600;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.474);
      }

      .inactive {
        color: var(--color-error);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.454);
        font-weight: 600;
      }
    }
  }

  .actions {
    margin: auto;
    

    button {
      padding: 1rem;
      width: 180px;
      height: 30px;
      font-weight: 600;
      border-radius: 0.8rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-bg-btn);
      border: none;
      color: var(--color-text-btn);

      &:hover {
        background-color: var(--color-bg-hover-btn);
        color: var(--color-text-hover-btn);
        border-color: var(--color-text-btn);
      }

      .icono {
        color: var(--color-primary);
        background-color: var(--color-error);
      }
    }
  }
}

.close {
  color: var(--color-error);
  border: none;

  &:hover {
    color: var(--color-text-secondary);
    background-color: var(--color-alert);
  }
}

.you {
  color: rgb(43, 132, 43);
}

@media (500px <= width <=1300px) {
  .session-item {
    margin: 1px auto;
    width: 80%;
    height: auto;

    .content_data {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .item {
        line-height: normal;
        display: grid;
        // flex-direction: column;
        // grid-template-columns: repeat(2, 1fr);
        font-size: 12px !important;
        font-weight: 400 !important;
        // border: 1px solid red;
        padding: 0 !important;

        .active {
          color: var(--color-primary);
          font-weight: 400 !important;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.474);
        }

        .inactive {
          color: var(--color-error);
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.454);
          font-weight: 600;
        }
      }
    }

    .actions {
      & > * {
        font-size: 12px !important;
      }
    }
  }
}

@media (30px <= width <= 500px) {
  .session-item {
    padding: 3px  !important;
    height: auto !important;

    & > * {
      font-size: 10px !important;
    }

    .content_data {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .item {
        line-height: normal;
        display: grid;
        font-weight: 400 !important;
        padding: 0 !important;

        .active {
          color: var(--color-primary);
          font-weight: 400 !important;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.474);
        }

        .inactive {
          color: var(--color-error);
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.454);
          font-weight: 600;
        }
      }
    }
    .actions {
      width: 20% !important;
      height: 100% !important;

      .estate {
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-wrap: wrap;
      }

      button {
        padding: 1px !important;
        width: 100%;
        height: 20px;
        font-weight: 500;
        border-radius: 5px !important;
        font-size: 10px !important;
      }
    }
  }
}
