<div
  class="overlay"
  [class.active]="animado()"
  (click)="onOverlayClick($event)"
>
  <div class="panel-content" #panelContent>
    <div class="config_title"><h2>Configuraciones</h2></div>
    <div class="opciones">
      <button (click)="onEditUser()" class="item">
        <span><mat-icon>manage_accounts</mat-icon></span
        >Perfil
      </button>
      <button (click)="onTheme()" class="item">
        <span> <mat-icon>palette</mat-icon> </span>
        Temas
      </button>
      @if (role() === "Administrador" || role() === "Super") {
        <button (click)="onUsers()" class="item">
          <span><mat-icon>playlist_add_check</mat-icon></span> Administrar
        </button>
        <!-- <button (click)="onDataCompany()" class="item">Datos empresa</button> -->
      }
      @if (role() === "Super") {
        <button (click)="onCompanys()" class="item">Empresas</button>
      }
    </div>
  </div>
</div>
