// stilos fondo
$fondo_primario: rgb(230, 220, 220);
$fondo_modal: rgba(6, 10, 42, 0.919);
$fondo_fload: rgba(0, 0, 0, 0.835);
$fondo_forms: rgba(9, 9, 9, 0.538);

// style letter
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$green: rgb(22, 167, 22);

// colores de botones
$azul: rgb(7, 98, 234);
$rojo: rgb(191, 95, 95);
$red_dark: rgba(139, 0, 0, 0.797);
$blue_dark: rgba(0, 0, 139, 0.702);

// colores dashboard
$dashboard_bg: rgb(238, 239, 154);

// colores de las cards
$card_bg: rgb(235, 243, 220);
$card_border: #e5e7eb;
$photos_fond: rgba(159, 84, 188, 0.271);

$btn_action: rgba(85, 85, 200, 0.319);