
// stilos fondo
$fondo_primario: rgb(230, 220, 220);
$fondo_modal: rgba(6, 10, 42, 0.919);


// style letter
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);


// colores de botones
$azul: rgb(7, 98, 234);
$rojo: rgb(191, 95, 95);