@use "../../../_styles/variables" as var;

.container {
  width: 90%;
  margin: auto;

  .container-fluid {
    width: 100%;
    height: auto;
    // padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      width: 100%;
      text-align: start;
      font-size: 1.3rem;
      margin: 15px 0;
    }

    .container-form {
      width: 100%;
      .group_item {
        width: 100%;
        height: auto;
        margin-bottom: 20px;

        label {
          width: 100%;
          font-weight: 800;
        }

        input {
          width: 100%;
          height: 30px;
          box-sizing: border-box;
          //   margin: 10px auto 0 auto;
          padding: 4px 13px;
          font-weight: 600;
          border-radius: 8px;
        }
        input.ng-invalid.ng-touched {
          border-color: #e74c3c; /* Rojo de error */
          background-color: #fdf2f2;
        }

        /* Cuando el campo es válido */
        input.ng-valid.ng-touched {
          border-color: var.$azul; /* Verde de éxito */
        }

        .form_validate {
          width: 100%;
          height: auto;
          position: relative;
          margin-top: 0 !important;

          .validate_email {
            height: 100%;
          }

          .loader {
            width: 20px;
            height: 20px;
            color: red;
            position: absolute;
            right: 1%;
            top: 50%;
            transform: translateY(-40%);
          }

          .error {
            border-color: red;
          }
          .loader_email {
            position: absolute;
            right: 1%;
            top: 50%;
            transform: translateY(-40%);

            .icono {
              color: var.$green;
            }
          }
        }
      }

      .options {
        height: 40px;
      }

      .enviar {
        .submit {
          display: flex;
          gap: 10px;
          justify-content: center;
          align-items: center;
          width: 100%;
          border-radius: 10px;
          padding: 5px;
          font-weight: 700;

          &:hover {
            border: 2px solid var.$azul;
            box-shadow: 0 0 10px var.$azul;
          }
        }
      }
    }
  }
}
